<section class="row center full-height">
  <div class="col-md-8 col-md-offset-2 vertically-align">
    <div class="">
      <h1>Find a hotline near</h1>  <input class="form-control form-control-lg form-transparent" type="text" placeholder="City">
    </div>
  </div>
</section>